{:kotoba.app/id "cloud.itonami.isic-4922", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibsfwb7vjuhqy3era7bhqt33upqd6p5vo4inrpq4gcugv7qsv2hnm", :kotoba.app/embed-url "ipfs://bafkreibsfwb7vjuhqy3era7bhqt33upqd6p5vo4inrpq4gcugv7qsv2hnm", :published {:archive "https://kotobase.net/ipfs/bafkreibsfwb7vjuhqy3era7bhqt33upqd6p5vo4inrpq4gcugv7qsv2hnm", :size 79711, :put-status 201, :get-status 200, :at "2026-08-15T13:57:37.548Z"}}
